<%- include ('../views/partials/headers'); %>
<body>
    <%- include ('../views/partials/navbar'); %>
    <div>
        <h1>TESTE DE ESTILO</h1>
    </div>   
</body>
<%- include ('../views/partials/footer'); %>
